#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release --target x86_64-unknown-linux-gnu

override_dh_auto_install:
	mkdir -p debian/kitty-launcher/usr/bin
	mkdir -p debian/kitty-launcher/usr/share/applications
	mkdir -p debian/kitty-launcher/usr/share/man/man1
	mkdir -p debian/kitty-launcher/usr/share/info
	cp target/x86_64-unknown-linux-gnu/release/kitty-launcher debian/kitty-launcher/usr/bin/
	# Install system launcher .desktop file
	cp kitty-launcher.desktop debian/kitty-launcher/usr/share/applications/ || true
	# Install man page
	cp kitty-launcher.1 debian/kitty-launcher/usr/share/man/man1/ || true
	# Install info page
	cp kitty-launcher.info debian/kitty-launcher/usr/share/info/ || true

override_dh_auto_test:
	cargo test --release
